<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="classes">
  <test thread-count="2" name="Test">
    <classes>
      <class name="TestClass.TestNG"/>
            <class name="TestClass.TestNG1"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Chrome">
    <classes>
       <class name="TestClass.TestNG"/>
            <class name="TestClass.TestNG1"/>
    </classes>
    </test>  <!--Test-->
  </suite> <!-- Suite -->